E:\t\test.dat

${__CSVRead(E:\t\test.dat,1)}


E:\t\test.txt


jdbc:mysql://localhost:3306/test
org.git.mm.mysql.Driver

'yonghuming','mima'
varchar,varchar
username,passwrod



wenzhang0308@126.com
wb226410
Wb226410

wb2264108809
xl2264108809





